@tailwind base;
@tailwind components;
@tailwind utilities;

.font-main {
  font-family: 'Josefin Sans', sans-serif;
}

body {
  margin: 0;
  font-family: 
  -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.product-views {
  -webkit-animation-duration: 6s;animation-duration: 6s;
  -webkit-animation-delay: 3.5s;
  -webkit-animation-fill-mode: both;animation-fill-mode: both;
}

@-webkit-keyframes fadeOut {
  0% {opacity: 0.75;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 0.75;}
  100% {opacity: 0;}
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

.fadeIn {
  animation: fadeIn 0.3s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}